/* Main color : #7263DB */
/* Font
    font-family: 'Modak', cursive;
    font-family: 'Roboto', sans-serif;
*/

:root {
  --primary-color: #7263db;
  --secondary-color: #6557c0;
}

.main-color {
  color: var(--primary-color) !important;
}

.main-bg {
  background-color: var(--primary-color) !important;
}

.btn-main {
  color: #fff;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  padding-right: 1rem;
  padding-left: 1rem;
}

.btn-main:hover {
  color: #fff !important;
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.font-roboto {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.02em;
}

.font-modak {
  font-family: "Modak", cursive !important;
}

.font-yellowtail {
  font-family: "Yellowtail", cursive;
}

/* Header Section */
.navbar .nav-item {
  margin: auto 1rem;
  letter-spacing: 0.15em;
}

.navbar .nav-link:hover,
.navbar .nav-link.active {
  color: var(--primary-color) !important;
}

/* Banner Section */
.banner .banner-title {
  font-weight: 900;
  font-size: 4.5rem;
  line-height: 5rem;
  letter-spacing: 0.16em;
  color: #333333;
  margin-bottom: 1.5rem;
}

@media (max-width: 600px) {
  .banner .banner-title {
    font-size: 3rem;
    line-height: 4rem;
  }
}

.banner .banner-desc {
  max-width: 450px;
  font-size: 1.1em;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  color: #555;
  margin-bottom: 2rem;
}
.banner .banner-img {
  max-width: 350px;
}

.banner .banner-img img {
  width: 100%;
}

.banner .circle {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 500px;
  height: 500px;
  overflow: hidden;
  z-index: -1;
}

.banner .circle div {
  width: 1000px;
  height: 1000px;
  background-color: var(--primary-color);
  border-radius: 50%;
}

/* About Section */
.about {
  position: relative;
  background-color: #eee;
  padding-top: 10rem;
  padding-bottom: 4rem;
  box-shadow: 0 -8px 24px rgba(0, 0, 0, 0.15);
  margin-bottom: 20rem;
}

.about h2 {
  font-size: 2.25em;
  letter-spacing: 0.2em;
}

.about .about-desc {
  letter-spacing: 0.1em;
  line-height: 2em;
}

.about .about-img {
  max-width: 20rem;
  position: relative;
}

@media (max-width: 540px) {
  .about .about-img {
    width: 80%;
  }
}

.about .about-img img {
  position: relative;
  width: 100%;
  border-radius: 1rem;
  z-index: 1;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
}

.about .about-img .frame {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #555;
  border: 12px solid #fff;
  border-radius: 1rem;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.25);
  transform: translate(2rem, 2rem);
}

.about .wave-1 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: translateY(99%);
}

.about .wave-1 svg {
  width: 100%;
  height: 100%;
}

/* Gallery Section */
.gallery h2 {
  font-size: 3em;
  letter-spacing: 0.1em;
}

.gallery .line-1,
.gallery .line-2 {
  margin-top: 1rem;
}

.gallery .cat-title {
  letter-spacing: 0.08em;
  font-weight: 500;
}

.gallery .line {
  display: block;
  width: 80px;
  height: 4px;
  border-radius: 2px;
  background-color: var(--primary-color);
  margin-right: 1.4rem;
}

@media (max-width: 540px) {
  .gallery .line {
    width: 50px;
  }
}

.gallery .category {
  margin-bottom: 4rem;
}

/* ---- grid ---- */

.grid {
  transition: 0.8s cubic-bezier(0.72, 0.02, 0.32, 1.01);
  overflow: hidden;
  height: 400px;
  padding: 1rem;
}

/* clear fix */
/* .grid:after {
  content: "";
  display: block;
  clear: both;
} */

/* .grid-sizer {
  width: 50%;
} */

.grid-item {
  width: 31.25%;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: 0.3s;
  /* float: left; */
}

@media (max-width: 1200px) {
  .grid-item {
    width: 31%;
  }
}

@media (max-width: 992px) {
  .grid-item {
    width: 48.5%;
  }
}

@media (max-width: 768px) {
  .grid-item {
    width: 48%;
  }
}

@media (max-width: 540px) {
  .grid-item {
    width: 100%;
  }
}

.grid-item:hover {
  box-shadow: 0 2px 12px 3px rgba(0, 0, 0, 0.4);
}

.grid-item img {
  /* display: block; */
  width: 100%;
  border-radius: 4px;
}

.grid .show-more {
  position: absolute;
  width: 100%;
  height: 7.5rem;
  bottom: 0;
  background: linear-gradient(to top, #fff, rgba(0, 0, 0, 0));
}

.grid .show-more .show-btn {
  cursor: pointer;
  font-size: 1.1em;
  letter-spacing: 0.04em;
}

.contact {
  margin-top: 10rem;
}

.contact .box-wrapper {
  background: url("../img/geometric.png");
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  width: 60rem;
  height: 32rem;
  border-radius: 1rem;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.5);
}
